:root {
  --backgroundImage: url('https://cdn.discordapp.com/attachments/1365492897323024465/1372729118592073833/7b14945cc0fdc224fba35e43dc955815.mp4?ex=6827d51d&is=6826839d&hm=932d44753387db1038215e0479f8e2b6966272feee75bc9879b1a3b77d8003fa&');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 10px;
  --backgroundOpacity: 0.8;
  --homeImage: url('https://i.imgur.com/233d55Y.gif');
  --homeImageSize: cover;
  --themeColor1: #FFFFFF;
  --themeColor2: #000000;
  --customFont: Days One;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

