/* --- Font --- */
@import url('https://emolegit.github.io/ceo-theme-ds/ceo.css');/* --- Interfaccia Utente (UI) --- */

/* --- Cores --- */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/ui/app_base.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/ui/scrollbars.css");

/* --- Layout --- */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/layout/sidebar.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/layout/channels.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/layout/members.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/layout/pages.css");

/* --- Chat & Forum --- */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/chat/message_area.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/chat/input_bar.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/chat/forum.css");

/* --- Moduli & Plugin --- */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/modals.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/plugins.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/popouts.css");

/* --- Addons Personalizzati --- */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/userlist.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/title_bar.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/mentions.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/notifications.css");
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass/core/modules/user_panel_version.css");
@import url('https://fonts.googleapis.com/css2?family=Days+One:wght@100;300;400;500;700&display=swap');

:root {
  --custom-title-text: "сука не может без принца";
  --custom-title-font-size: 15px;               
  --custom-title-font-family: "Days One", var(--font-primary);
  --backgroundImage: url('https://i.imgur.com/pH7ZmCk.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 5px;
  --backgroundOpacity: 0.8;
  --homeImage: url('https://i.imgur.com/233d55Y.gif');
  --homeImageSize: cover;
  --themeColor1: #FFFFFF;
  --themeColor2: #000000;
  --customFont: Days One;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */
